.App {
  text-align: center;
  margin: 150px;

}


.navClr{
  background-color: transparent!important;
}



.page-item.active .page-link {
  background-color: black !important;
  border-color:black !important ;
  color: white !important;
}
.page-link {
  color: black !important;
}
